<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
          integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Register | Covid-19 Dashboard for India</title>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-centered is-desktop is-vcentered">
            <div class="column is-half">
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a class="navbar-item" href="/">
                                <img href="/" src="img/india.svg">
                            </a>
                            <p class="subtitle is-size-4">Covid-19 Tracker for India</p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered is-desktop is-vcentered">
            <div class="column is-half">
                <p class="title">Register</p>
                <form action="/register" enctype="utf8" method="POST" th:object="${user}">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" placeholder="Your Full Name" th:field="*{name}" type="text">
                            <p th:each="error: ${#fields.errors('name')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" placeholder="Your Email Address" th:field="*{email}" type="email">
                            <p th:each="error : ${#fields.errors('email')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" placeholder="Choose a strong password" th:field="*{password}"
                                   type="password">
                            <p th:each="error : ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Confirm Password</label>
                        <div class="control">
                            <input class="input" placeholder="Confirm your password" th:field="*{passwordMatch}"
                                   type="password">
                        </div>
                    </div>

                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-link" type="submit">Register</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-link is-light" type="reset">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <div class="buttons">
                                    <div class="control">
                                        <a class="button is-link is-success" href="/login">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>